:root{
    height: 100vh;
    max-width: 100vw;
    font-family: 'Fira Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    height: 100vh;
    max-width: 100vw;
}

/*--------------------
CSS Vars - colors and sizes
--------------------*/
:root{
    --stone:#e1e1e1;
    --mint:#4ade80;
    --white-bg:#f5f5f5;
    --forest-green:#14532d;
    --grape:#4a1870;
    --gas:#fde047;
    --black-bg: #262626;
    --fanta:#f97316;

}

/*--------------------
Grid Template Layout
--------------------*/

.grid-container.fullpage{
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 25vh 8fr;
}

aside{
    grid-row: 1/4;
    display: grid;
    grid-template-rows: 70px 7fr;
    grid-gap: 5px;
    position: relative;
}

header{
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    margin-bottom: 2vh;
}

.search-area,.profile-area{
    display: grid;
    justify-items: center;
    align-items: center;
}

.search-area{
    grid-template-columns: 5vw 1fr;
    margin-left: 1rem;
}

.search-area>label{
    justify-self: center;
    margin-top: 3px;
}

.profile-area{
    grid-template-columns: 2rem 4rem 4rem;
    gap: 6px;
    justify-items: end;
    justify-self: end;
}

section{
    display: grid;
}

section.profile-area>a:nth-child(1),section.profile-area>a:nth-child(2){
    justify-self: end;
}

section.lower-header{
    margin-top: 2vh;
    grid-column: 1/-1;
    grid-template-columns: 5.5rem 1fr 2fr;
    grid-template-rows: repeat(2,1fr);
    grid-gap: 0.5vw;
}


.lower-header img{
    grid-row: 1/3;
    justify-self: end;
    align-self: center;
}

.lower-header h2{
    grid-area: 2/2/3/3;
}


.lower-header>p{
    align-self: end;
}

.lower-header>nav{
    grid-row: 1/3;
    grid-column: 3/4;
}


nav>ul{
    display: grid;
    grid-template-columns: repeat(3,6.5rem);
    align-items: center;
    gap: 1.5rem;
}

nav>ul>li{
    width: 100%;
}

ul.aside-links{
    justify-self: start;
    display: grid;
    grid-auto-rows: 38px;
    gap: 3.5vh;
    position: fixed;
    top: 10vh;
}

/*-----------------
Main grid layout
-----------------*/
main{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5rem 1fr 1fr;
}

section.cards{
    grid-row: 2/4;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(22rem,1fr));
    grid-gap: 25px;
}

/*-------------------
Card layout
-------------------*/
div.card{
    display: grid;
    grid-template-columns: 1rem 1fr;
    border: 1px solid silver;
    border-radius: 15px;
    margin-left: 0.5rem;
}

.card>h4{
    justify-self: center;
}

section.side-cards{
    grid-row: 1/-1;
    display: grid;
    grid-template-rows: 5rem 1fr 5rem 1fr;
}

/*-------------------
Styling of components
-------------------*/

#search-bar{
    width: 90%;
    height: 27px;
    border-radius: 25px;
    justify-self: start;
    
}

/*-------------------
Styling of aside 
-------------------*/

li>img , aside>label>img{
    height: 20px;
    width: auto;
}

aside{
    background-color: var(--grape);
}

aside>ul>li , aside>label{
    font-size: max(1.5vw,0.8rem);
    color: var(--white-bg);
    padding: 0 1rem;
}

aside>label{
    height: 100%;
    font-size: 25px;
    font-weight: bolder;
    justify-items: start;
    align-items: center;
    padding-left: 5px;
}

aside>label>img{
    height: 38px;
    padding: 0.3vw;
}

.dashbaord-logo{
    display: grid;
    grid-template-columns: 35px 1fr;
    grid-auto-rows: 50px;
    gap: 10px;
}


/*-------------------
Header styling
-------------------*/

.header-svg{
    height: 24px;
}

.profile-pic{
    height: 2.7rem;
    width: 2.8rem;
    border-radius: 50px;
    
    justify-self: end;
    border: 2px solid var(--fanta);
}

.profile-name{
    justify-self: start;
    font-weight: bold;
    text-decoration: none;
    color: var(--black-bg)
}


input#search-bar{
    background-color: var(--stone);
    padding: 2vh 1.3vw;
    border: none;
    font-size: 20px;
}

.big-profile-pic{
    grid-column: 1/2;
    justify-self: start;
    height: 4.2rem;
    width: 4rem;
    border-radius: 5.5rem;
    object-fit: cover;
}

.nav-btn{
    justify-self: end;
    height: 6.3vh;
    width: 100%;
    border-radius: 30px;
    background-color: var(--grape);    
    color: var(--white-bg);
    border: none;
    font-size: 0.9rem;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 5px;
    cursor: pointer;
}

nav.header-nav{
    display: grid;
    justify-items: start;
}

.lower-header>p{
    font-weight: bolder;
    font-size: min(1.5rem,3.5vw);
}

.lower-header>h2{
    font-size: min(1rem,2.5vw);
}


/*-------------------
Cards styling
-------------------*/

div.card{

}


div.card>div.deco-bar{
    border-radius: 15px 0 0 15px;
    height: 100%;
    width: 71%;
    background:linear-gradient(var(--fanta),orange) ;
    grid-row: 1/3;
    position: relative;
}

div.card,div.big-card{
    background-color: var(--white-bg);
}


div.big-card{
    border: 1px solid var(--stone);
    border-radius: 15px;
    width: max(19vw,15rem);
    height: 75vh;
    align-self: center;
    margin: 0 0.5rem;
    margin-bottom: 2rem;
    align-self:start;

}

section.cards{
    margin-left: 1vw;
}

section.side-cards{
    justify-items: center;
}

h2.star-movies , h2.trend{
    align-self: end;
    justify-self: center;
    font-size: 1.6rem;
    margin-bottom: 0.3rem;
    letter-spacing: 0.4vh;
    font-weight: 750;
    margin-bottom: 2rem;
}


.card>h4{
    font-size: 1.5rem;
    letter-spacing: 0.6vh;
    font-weight: bold;
    align-self: center;
    padding-top: 1.5rem;
}

.card>p{
    font-size: 1.2rem;
    padding: 1.5rem;
}

/*-------------------
main section styling
-------------------*/
main{
    background-color: var(--stone);
}

/*-------------------
Side / big cards grid layouts
-------------------*/
div.big-card.announ{
    display: grid;
    align-content: space-around;
    padding: 1.5rem; 
}


div.big-card.trend-card{
    display: grid;
    align-content: space-evenly;  
    padding: 1.5vw;
}
div.trend-card>article{
    display: grid;
    grid-template-columns: 4.8rem 1fr;
    grid-template-rows: 1fr 1fr;
}

article>img.big-profile-pic{
    grid-row: 1/-1;
    align-self: center;
    border: 3px solid orange;
}

article>h6{
    align-self: end;
}


/*-------------------
Side / big cards grid additional styles
-------------------*/

div.big-card.announ>article>h4{
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    font-weight: 900;
    margin-bottom: 2.2vh;
}

div.big-card.announ>article>p{
    font-size: 1.2rem;
    margin-bottom: 2.2vh;
}

div.big-card.announ>div.line-break{
    border-top: 4px dashed var(--stone);
    margin: 2px 0;
}



div.trend-card>article>h6{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.1rem;
}

div.trend-card>article>p{
    font-size: 1.1rem;
    letter-spacing: 1px;
    color:var(--black-bg);
    margin-top: 2px;
}

div.trend-card>article>img{
    height: 3.8rem;
    width: 3.5rem;
    border-radius: 60%;
    justify-self: center;
}

div.card > * , div.big-card > *, .aside-links > *{
    cursor: pointer;
}


footer{
    background-color: var(--stone);
}