*{
  /*  border: 1px solid rgb(216, 216, 216);*/
}

/*--------------------
Grid Template Layout
--------------------*/
body{
    height: 99vh;
    max-width: 100vw;
}
.grid-container.fullpage{
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}

aside{
    grid-row: 1/4;
    display: grid;
    grid-template-rows: 1fr 10fr;
    grid-gap: 5px;
}

header{
    grid-column: 2/3;
}

/*-----------------
-----------------*/

aside ul{
}
